<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    {% include 'parts/head.html' %}

    <!-- This page CSS -->
    <link rel="stylesheet" href="{% static 'plugins/multicheck/multicheck.css' %}">
    <link href="{% static 'plugins/DataTables/datatables.css' %}" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label"> PMS </p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include 'parts/topbar.html' %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->


        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include 'parts/sidebar.html' %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->


        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor"> <i class="mdi mdi-medical-bag"></i> Medicine / <span style="color: #687384;"> Stock </span></h3>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- Contents -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title"> All Medicines 
                                <span class="float-end">
                                    <a href="javascript:void(0)" class="btn-sm btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#add-stock"> <i class="mdi mdi-plus"></i> Add </a>
                                    <button type="submit" form="del-form" class="btn-sm btn-danger"> <i class="mdi mdi-delete"></i> Delete </button>
                                </span>
                            </h5>
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered text-center">
                                    <thead>
                                        <tr><th> <label class="customcheckbox mb-3"> <input type="checkbox" id="mainCheckbox" /> <span class="checkmark"></span></label> </th>
                                            <th> Name</th>
                                            <th> Generic name </th>
                                            <th> Category </th>
                                            <th> Quantity </th>
                                            <th> Cost </th>
                                            <th> Price </th>
                                            <th> BB </th>
                                            <th> Status </th>
                                            <th> Edit </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <form action="delStock" method="GET" id="del-form"> 
                                        {% for instance in stock_values %}
                                        <tr>
                                            <td>
                                                <label class="customcheckbox"> 
                                                    <input type="checkbox" value="{{ instance.name }}" name="medicine_name" class="listCheckbox" />
                                                    <span class="checkmark"></span>
                                                </label> 
                                            </td>
                                            <td> {{ instance.name }} </td>
                                            <td> {{ instance.generic_name }} </td>
                                            <td> {{ instance.category_name_id }} </td>
                                            <td> {{ instance.quantity }} {{ instance.packaging }}  </td>
                                            <td> {{ instance.cost }} </td>
                                            <td> {{ instance.price }} </td>
                                            <td> {{ instance.best_before }} </td>
                                            <td> <span class="badge rounded-pill bg-success"> {{ instance.status }} </span> </td>
                                            <!-- <td> <i class="mdi mdi-file-edit-outline"></i> </td> -->
                                        </tr>
                                        {% endfor %}
                                        </form>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th> </th>
                                            <th> Name </th>
                                            <th> Generic name </th>
                                            <th> Category </th>
                                            <th> Quantity </th>
                                            <th> Cost </th>
                                            <th> Price </th>
                                            <th> BB </th>
                                            <th> Status </th>
                                            <th> Edit </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                     <!-- Vertically centered modal 1 -->
                     <div class="modal fade" id="add-stock" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-bold" id="exampleModalLabel"> Introduce new specific Medicine </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="addStock" method="GET" id="add-form">
                                        <table>
                                            <tr>
                                                <th> Medicine Name: </th>
                                                <td><input type="text" name="medicine_name" class="form-control my-2" required></td>
                                            </tr>
                                            <tr>
                                                <th> Generic Name: </th>
                                                <td><input type="text" name="generic_name" class="form-control my-2"></td>
                                            </tr>
                                            <tr>
                                                <th> Category: </th>
                                                <td>
                                                    <select class="form-control my-2" name="category_name" required> 
                                                        {% for instance in category_values %}
                                                        <option value="{{ instance.name }}"> {{ instance.name }} </option>
                                                        {% endfor %}
                                                    </select> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <th> Quantity: </th>
                                                <td>
                                                    <input type="number" min='1' class="form-control w-50 my-2" name="quantity" required>
                                                    <select class="form-control w-25 my-2" name="packaging" required> 
                                                        <option value="Units"> Units </option>
                                                        <option value="Stp"> Stp </option>
                                                        <option value="Boxes"> Boxes </option>
                                                        <option value="Sachet"> Sachet </option>	
                                                        <option value="Bots"> Bots </option>
                                                        <option value="Tubes"> Tubes </option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th> Cost: </th>
                                                <td><input type="number" min='200' name="cost" class="form-control my-2" required></td>
                                            </tr>
                                            <tr>
                                                <th> Price: </th>
                                                <td><input type="number" value="200" min='200' name="price" class="form-control my-2" required></td>
                                            </tr> 
                                            <tr>
                                                <th> Expiry: </th>
                                                <td><input type="date" name="best_before" class="form-control my-2" required></td>
                                            </tr>
                                        </table> 
                                    </form>
                                    <!-- end form table -->
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" form="add-form" class="btn btn-success waves-effect waves-light"><i class="mdi mdi-check-bold"></i> Save </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- End Contents -->
                <!-- ============================================================== -->
                
            </div>

            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% include 'parts/footer.html' %}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {% include 'parts/scripts.html' %}
    <!-- mult check box -->
    <script src="{% static 'plugins/multicheck/datatable-checkbox-init.js' %}"></script>
    <script src="{% static 'plugins/multicheck/jquery.multicheck.js' %}"></script>
    <!-- Data table -->
    <script src="{% static 'plugins/DataTables/datatables.js' %}"></script>
    <script>    $("#zero_config").DataTable();    </script>
    

</body>

</html>