<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    {% include 'parts/head.html' %}

    <!-- This page CSS -->
    <link rel="stylesheet" href="../plugins/multicheck/multicheck.css">
    <link href="../plugins/DataTables/datatables.css" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label"> PMS </p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a href="./index.html"> <img src="../assets/pms-logo.jpg" alt="logo" width="70px" /> </a>
                    <span class="dark-logo h3"> PMS </span>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->

                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav me-auto">
                        <!-- This is  -->
                        <li class="nav-item"> 
                            <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
                                href="javascript:void(0)"><i class="mdi mdi-menu mdi-24px"></i></a> 
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item hidden-xs-down search-box"> 
                            <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)">
                                <i class="mdi mdi-search-web mdi-24px"></i>
                            </a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> 
                                <a class="srh-btn"> <i class="mdi mdi-close mdi-24px"></i> </a>
                            </form>
                        </li>
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-arrow-down-right-bold"></i>
                                <img src="../assets/users/ericko.jpg" onerror='this.src="../assets/users/no-profile.jpg"' class="rounded-circle" width="31"/>
                                <span class="p-2"> ERICKO CR</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end animated shadow-lg p-3" style="width:277px; position:absolute; right:2px; margin-top:2px;" aria-labelledby="navbarDropdown">
                                <div class="text-center">
                                    <img src="../assets/users/ericko.jpg" style='width: 150px;margin:auto;' class='img-circle img-thumbnail'><br>
                                    <span> ERICKO </span><br>
                                    <span>Member Since: 2019</span>
                                </div>
                                <div class="py-3"> 
                                    <a class="" href="./page_profile.html"><i class="mdi mdi-account me-1 ms-1"></i> My Profile</a>
                                    <a href="javascript:void(0)" class="btn btn-sm btn-secondary btn-rounded float-end"> <i class="mdi mdi-power"></i> Sign Out </a>
                                </div>
                            </ul>  
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> 
                            <a class="waves-effect waves-light" href="index.html" aria-expanded="false">
                                <i class="mdi mdi-gauge"></i>
                                <span class="hide-menu"> Dashboard </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-light" href="javascript:void(0)" aria-expanded="false">
                                <i class="mdi mdi-medical-bag"></i><span class="hide-menu"> Medicine </span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a href="./page_category.html" class="sidebar-link waves-effect waves-light">
                                        <i class="mdi mdi-group mdi-18px"></i><span class="hide-menu"> Categories </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                <a href="./page_stock.html" class="sidebar-link waves-effect waves-light">
                                    <i class="mdi mdi-store mdi-24px"></i><span class="hide-menu"> Stock </span>
                                  </a>
                              </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-light" href="javascript:void(0)" aria-expanded="false">
                                <i class="mdi mdi-sale"></i><span class="hide-menu"> Sales </span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a href="./page_sell.html" class="sidebar-link waves-effect waves-light">
                                        <i class="mdi mdi-hand-coin mdi-24px"> </i><span class="hide-menu"> sell </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="./page_sales_records.html" class="sidebar-link waves-effect waves-light">
                                        <i class="mdi mdi-table mdi-24px"></i> <span class="hide-menu"> Records </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-light" href="javascript:void(0)" aria-expanded="false">
                                <i class="mdi mdi-hammer-screwdriver"></i><span class="hide-menu"> Setting </span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a href="./page_profile.html" class="sidebar-link waves-effect waves-light">
                                        <i class="mdi mdi-account mdi-24px"></i><span class="hide-menu"> My profile </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="./page_users.html" class="sidebar-link waves-effect waves-light">
                                        <i class="mdi mdi-note-plus mdi-24px"></i><span class="hide-menu"> Manage Users </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="./page_pharmacy.html" class="sidebar-link waves-effect waves-light">
                                        <i class="mdi mdi-hospital-marker mdi-24px"></i><span class="hide-menu"> Pharmacy </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor"> <i class="mdi mdi-sale"></i> Sales / <span style="color: #687384;"> Sell </span></h3>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- Contents -->
                <!-- ============================================================== -->
                <div class="row">
                    <form>
                        <div class="card col-lg-8 shadow-sm">
                            <div class="card-body text-center">
                                <input type='text' placeholder="search medicine" class='form-control' style="width: 220px;"> </th>
                                <a class='btn btn-info text-white waves-effect waves-light'> <i class="mdi mdi-plus"></i> </a> 
                            </div>
                        </div>
                        <div class="card col-lg-8 shadow-sm">
                            <div class="card-body text-center">
                                <table class="table table-hover table-bordered table-responsive">
                                    <tr>
                                        <th> #</th>
                                        <th> Medicine </th>
                                        <th> PerUnitPrice </th>
                                        <th colspan="2"> Quantity_selection </th>
                                        <th> Remove </th>
                                    </tr>
                                    <tr>
                                        <td> 1 </td>
                                        <td> Panaldo </td>
                                        <td> Tzs. 1200 </td>
                                        <td> <input type='number' min='1' value="2" class='form-control input-sm' style="width: 100px;"> </td>
                                        <td> <button type='submit' class='btn btn-sm btn-success waves-effect waves-light'> Update </button> </td>
                                        <td> <a href="" class='btn btn-sm btn-danger waves-effect waves-light'> <i class="mdi mdi-close-thick"></i> </a> </td>
                                    </tr>
                                    <tr>
                                        <td> 2 </td>
                                        <td> Hedex </td>
                                        <td> Tzs. 1300 </td>
                                        <td> <input type='number' min='1' value="2" class='form-control input-sm' style="width: 100px;"> </td>
                                        <td> <button type='submit' class='btn btn-sm btn-success waves-effect waves-light'> Update </button> </td>
                                        <td> <a href="" class='btn btn-sm btn-danger waves-effect waves-light'> <i class="mdi mdi-close-thick"></i> </a> </td>
                                    </tr>
                                    <tr>
                                        <th colspan="2"> Total Bill </th>
                                        <th> <strong> Tzs. 5000 </strong> </th>
                                        <th colspan="3"> </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="card col-lg-8 shadow-sm">
                            <div class="card-body">
                                <div class="form-group ">
                                    <label for="name"> Customer name </label>
                                    <input type="text" class="form-control w-50" placeholder="(Optional)" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="phone"> Phone No: </label>
                                    <input type="text" class="form-control phone-inputmask w-50" placeholder="(Optional)" id="phone"/>
                                </div>
                            </div>
                        </div>
                        <div class="card col-lg-8 shadow-sm">
                            <div class="card-body">
                                <button type="submit" class="btn btn-primary waves-effect waves-light float-end" onclick="return confirm('DATA WILL BE DAVED TO SALES RECORDS.')"> <a href="./page_receipt.html" class="text-white"> <i class="mdi mdi-bookmark-check mdi-18px"></i> Generate Bill </a> </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- ============================================================== -->
                <!-- End Contents -->
                <!-- ============================================================== -->
                
            </div>

            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer"> 
                <a href="javascript:void(0)" class="mdi mdi-instagram"> ericko_TZ </a> ::
                <a href="javascript:void(0)" class="mdi mdi-whatsapp"> +255 752 085 279 </a>
                
                <!-- Back to top-->
                <style>
                    #btn-back-to-top { position: fixed; bottom: 20px; right: 20px; display: none; }
                </style> 
                <button type="button" class="btn btn-sm btn-info text-white waves-effect waves-light" id="btn-back-to-top">
                    <i class="mdi mdi-arrow-up-bold mdi-24px"></i>
                </button>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <script src="../plugins/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <!--Wave Effects -->
    <script src="../js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../js/custom.js"></script>
    <!-- mult check box -->
    <script src="../plugins/multicheck/datatable-checkbox-init.js"></script>
    <script src="../plugins/multicheck/jquery.multicheck.js"></script>
    <!-- Data table -->
    <script src="../plugins/DataTables/datatables.js"></script>
    <script>    $("#zero_config").DataTable();    </script>
    <!-- input mask control -->
    <script src="../plugins/inputmask/jquery.inputmask.bundle.js"></script>
    <script src="../js/inputmask.js"></script>

</body>

</html>