
<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    {% include 'parts/head.html' %}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label"> PMS </p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include 'parts/topbar.html' %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->


        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include 'parts/sidebar.html' %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->


        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor"> <i class="mdi mdi-hammer-screwdriver"></i> Setting / <span style="color: #687384;"> Phamarcy details </span></h3>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- Contents -->
                <!-- ============================================================== -->
                
                {% if user_values.count > 0 %}
				<div class="row">
					<div class="card shadow-sm col-sm-8 col-md-8 col-lg-8">
						<div class="card-body">
							<form action="addPharmacy" method="GET" class="form-horizontal form-material">
								<div class="form-group">
									<label class="col-form-label"> Phamarcy name <span>*</span></label>
									<input type="text" name="name" id="Cname" class="form-control" onchange="upperCaseCompany()" required>
								</div>
								<div class="form-group">
									<label class="col-form-label"> Address <span>*</span></label>
									<textarea name="address" class="form-control" required></textarea>
								</div>
								<div>
									<button type="submit" class="btn btn-primary float-end"> <i class="mdi mdi-plus-bold"></i> Add </button>
								</div>
							</form>
						</div>
					</div>
                </div>

                {% for instance in pharmacy_values %}
                <div class="row">
					<div class="card shadow-sm col-sm-8 col-md-8 col-lg-8">
						<div class="card-body">
							<form class="form-horizontal form-material">
								<div class="form-group">
									<label class="col-form-label"> Phamarcy name </label>
									<input type="text" value="{{ instance.name }}" class="form-control"  onchange="upperCaseCompany()" required>
								</div>
								<div class="form-group">
									<label class="col-form-label"> Address </label>
									<textarea class="form-control" placeholder="{{ instance.location }}" required></textarea>
								</div>
								<div>
									<button type="submit" class="btn btn-success mx-2 float-end"> <i class="mdi mdi-check-bold"></i> Update </button>
									<a href="delPharmacy/{{instance.id}}" class="btn btn-danger float-end"> <i class="mdi mdi-bin"></i> Delete </a>
								</div>
							</form>
						</div>
					</div>
                </div>
                {% endfor %} 
                {% endif %} 
                <!-- ============================================================== -->
                <!-- End Contents -->
                <!-- ============================================================== -->
                
            </div>

            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% include 'parts/footer.html' %}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {% include 'parts/scripts.html' %}

</body>

</html>