<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    {% include 'parts/head.html' %}

    <!-- This page CSS -->
    <link rel="stylesheet" href="{% static 'plugins/multicheck/multicheck.css' %}">
    <link href="{% static 'plugins/DataTables/datatables.css' %}" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label"> PMS </p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include 'parts/topbar.html' %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->


        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include 'parts/sidebar.html' %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor"> <i class="mdi mdi-sale"></i> Sales / <span style="color: #687384;"> Sell </span></h3>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- Contents -->
                <!-- ============================================================== -->
                <div class="row">
                    <form action="" method="GET">
                        <div class="card col-lg-8 shadow-sm">
                            <div class="card-body text-center">
                                <table class="table table-hover table-bordered table-responsive">
                                    <tr>
                                        <th> #</th>
                                        <th> Medicine </th>
                                        <th> PerUnitPrice </th>
                                        <th colspan="2"> Quantity_selection </th>
                                        <th> Remove </th>
                                    </tr>
                                    <tr>
                                        <td> 1 </td>
                                        <td> Panaldo </td>
                                        <td> Tzs. 1200 </td>
                                        <td> <input type='number' min='1' value="2" class='form-control input-sm' style="width: 100px;"> </td>
                                        <td> <button type='submit' class='btn btn-sm btn-success waves-effect waves-light'> Update </button> </td>
                                        <td> <a href="" class='btn btn-sm btn-danger waves-effect waves-light'> <i class="mdi mdi-close-thick"></i> </a> </td>
                                    </tr>
                                    <tr>
                                        <td> 2 </td>
                                        <td> Hedex </td>
                                        <td> Tzs. 1300 </td>
                                        <td> <input type='number' min='1' value="2" class='form-control input-sm' style="width: 100px;"> </td>
                                        <td> <button type='submit' class='btn btn-sm btn-success waves-effect waves-light'> Update </button> </td>
                                        <td> <a href="" class='btn btn-sm btn-danger waves-effect waves-light'> <i class="mdi mdi-close-thick"></i> </a> </td>
                                    </tr>
                                    <tr>
                                        <th colspan="2"> Total Bill </th>
                                        <th> <strong> Tzs. 5000 </strong> </th>
                                        <th colspan="3"> </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="card col-lg-8 shadow-sm">
                            <div class="card-body">
                                <div class="form-group ">
                                    <label for="name"> Customer name </label>
                                    <input type="text" class="form-control w-50" placeholder="(Optional)" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="phone"> Phone No: </label>
                                    <input type="text" class="form-control phone-inputmask w-50" placeholder="(Optional)" id="phone"/>
                                </div>
                            </div>
                        </div>
                        <div class="card col-lg-8 shadow-sm">
                            <div class="card-body">
                                <button type="submit" class="btn btn-primary waves-effect waves-light float-end" onclick="return confirm('DATA WILL BE DAVED TO SALES RECORDS.')"> <a href="./page_receipt.html" class="text-white"> <i class="mdi mdi-bookmark-check mdi-18px"></i> Generate Bill </a> </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- ============================================================== -->
                <!-- End Contents -->
                <!-- ============================================================== -->
                
            </div>

            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% include 'parts/footer.html' %}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {% include 'parts/scripts.html' %}
    <!-- mult check box -->
    <script src="{% static 'plugins/multicheck/datatable-checkbox-init.js' %}"></script>
    <script src="{% static 'plugins/multicheck/jquery.multicheck.js' %}"></script>
    <!-- Data table -->
    <script src="{% static 'plugins/DataTables/datatables.js' %}"></script>
    <script>    $("#zero_config").DataTable();    </script>
    <!-- input mask control -->
    <script src="{% static 'plugins/inputmask/jquery.inputmask.bundle.js' %}"></script>
    <script src="{% static 'js/inputmask.js' %}"></script>

</body>

</html>