
<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    {% include 'parts/head.html' %}
    <!-- This page CSS -->
    <link rel="stylesheet" href="{% static 'plugins/multicheck/multicheck.css' %}">
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css' %} -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label"> PMS </p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include 'parts/topbar.html' %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->


        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include 'parts/sidebar.html' %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->


        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor"> <i class="mdi mdi-medical-bag"></i> Medicine / <span style="color: #687384;"> Categories </span></h3>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- Contents -->
                <!-- ============================================================== -->
                <div class="row">
                    
                    {% if pharmacy_value < 1 %}
                    <div class="alert alert-danger text-center" role="alert">
                        <p> THE OWNER SHOULD INITIATE PHARMACY FIRST </p>
                    </div>
                    {% else %}

                    <div class="card-body">
                        <span class="float-end">
                            <button type="submit" form="del-form" class="btn-sm btn-danger float-end"> <i class="mdi mdi-delete"></i> Delete </button>
                            <a href="javascript:void(0)" class="btn-sm btn-primary float-end mx-2" data-bs-toggle="modal" data-bs-target="#add-category"> <i class="mdi mdi-plus"></i> Add new / replace </a>
                        </span>
                    </div>
                    <!-- Vertically centered modal 1 -->
                    <div class="modal fade" id="add-category" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-bold" id="exampleModalLabel"> Record new Medicine category </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                
                                <div class="modal-body text-center">
                                    <form id="add-form" method="GET" action="addCategory">
                                        <table>
                                            <tr>
                                                <th> category Name: </th>
                                                <td><input type="text" class="form-control my-2" name="category_name" required></td>
                                            </tr>
                                            <tr>
                                                <th> Image </th>
                                                <td><input type="file" class="form-control my-2"></td>
                                            </tr>
                                        </table>     
                                    </form>
                                    <!-- end form table -->
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" form="add-form" class="btn btn-success waves-effect waves-light"> <i class="mdi mdi-check-bold"></i> Save </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form action="delCategory" id="del-form" method="GET">
                        <div class="row">
                            
                            <!-- Column -->
                            {% static "assets/categories/" as baseUrl %}
                            
                            {% for instance in category_values %}
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="card box card-hover shadow">
                                    <span class="myCheckbox">
                                        <label class="customcheckbox"> <input type="checkbox" class="listCheckbox" value="{{ instance.id }}" name="category_id"/> <span class="checkmark"></span></label>
                                    </span>
                                    <div class="text-center"> <img src="{{ baseUrl }}{{ instance.image }}.jpg" style="width:155px; height: 122px;" class='img-thumbnail'></div>
                                    <div class="dropdown-divider"></div>
                                    <span>Name <span class="float-end text-info"> {{ instance.name }} </span></span>
                                    <div class="dropdown-divider"></div>
                                    <span>Available Qty <span class="float-end text-info"> {{ stock_values|length }} </span></span>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </form>
                    {% endif %}
                </div>
                <!-- ============================================================== -->
                <!-- End Contents -->
                <!-- ============================================================== -->
                
            </div>

            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% include 'parts/footer.html' %}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {% include 'parts/scripts.html' %}
    <!-- mult check box -->
    <script src="{% static 'plugins/multicheck/datatable-checkbox-init.js' %}"></script>
    <script src="{% static 'plugins/multicheck/jquery.multicheck.js' %}"></script>
    

</body>

</html>