<footer class="footer"> 
    <!-- <a href="#" class="mdi mdi-instagram"> Katunz_official_JR </a> :: -->
    <!-- <a href="#" class="mdi mdi-whatsapp"> +255 656 631 106 </a> -->
    <a href="javascript:void(0)" class="mdi mdi-instagram"> ericko_TZ </a> ::
    <a href="javascript:void(0)" class="mdi mdi-whatsapp"> +255 752 085 279 </a>
    

    <!-- Back to top-->
    <style>
        #btn-back-to-top { position: fixed; bottom: 20px; right: 20px; display: none; }
    </style> 
    
    <button type="button" class="btn btn-sm btn-info text-white waves-effect waves-light" id="btn-back-to-top">
        <i class="mdi mdi-arrow-up-bold mdi-24px"></i>
    </button>
    
    <script>
        // ---------------------------------- back to top
        //Get the button
        var mybutton = document.getElementById("btn-back-to-top");
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function scrollFunction(){
            if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
            mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        };
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        });
    </script>
</footer>