<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li> 
                    <a href="dashboard" class="waves-effect waves-light" aria-expanded="false">
                        <i class="mdi mdi-gauge"></i>
                        <span class="hide-menu"> Dashboard </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-light" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-medical-bag"></i><span class="hide-menu"> Medicine </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="category" class="sidebar-link waves-effect waves-light">
                                <i class="mdi mdi-group mdi-18px"></i><span class="hide-menu"> Categories </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                        <a href="stock" class="sidebar-link waves-effect waves-light">
                            <i class="mdi mdi-store mdi-24px"></i><span class="hide-menu"> Stock </span>
                          </a>
                      </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-light" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-sale"></i><span class="hide-menu"> Sales </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="sell" class="sidebar-link waves-effect waves-light">
                                <i class="mdi mdi-hand-coin mdi-24px"> </i><span class="hide-menu"> sell </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="records" class="sidebar-link waves-effect waves-light">
                                <i class="mdi mdi-table mdi-24px"></i> <span class="hide-menu"> Records </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-light" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-hammer-screwdriver"></i><span class="hide-menu"> Setting </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="profile" class="sidebar-link waves-effect waves-light">
                                <i class="mdi mdi-account mdi-24px"></i><span class="hide-menu"> My profile </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="users" class="sidebar-link waves-effect waves-light">
                                <i class="mdi mdi-note-plus mdi-24px"></i><span class="hide-menu"> Manage Users </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pharmacy" class="sidebar-link waves-effect waves-light">
                                <i class="mdi mdi-hospital-marker mdi-24px"></i><span class="hide-menu"> Pharmacy </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>